@use './partial-styles/variables' as *;

body {
    box-sizing: border-box;
    font-family: 'Press Start 2P';
    background-color: $accent-color;
    color: $main-color;
}

*, *::after, *::before{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

p {
    margin-bottom: 0.5rem;
}

a {
    color: $main-color;
    text-decoration: none;
}
